html, body {
    margin:0;
    padding:0;
}

body {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

#button-container {
    margin:5px;
    display:flex;
    width:40%;
    justify-content:center;
    align-items:center;
    column-gap:5px;
}

button {
    font-weight: bold;
    flex-grow:1;
    background:black;
    color:white;
    border:solid 1px black;
    border:none;
    padding:5px;
}

.rainbow span:nth-child(10n + 1) {
    color:red;
}

.rainbow span:nth-child(10n + 2) {
    color:orange;
}

.rainbow span:nth-child(10n + 3) {
    color:yellow;
}

.rainbow span:nth-child(10n + 4) {
    color:lime;
}

.rainbow span:nth-child(10n + 5) {
    color:cyan;
}

.rainbow span:nth-child(10n + 6) {
    color:blue;
}

.rainbow span:nth-child(10n + 7) {
    color:magenta;
}

#grid-container {
    width:40%;
    padding-bottom: 40%;
    position: relative;
    border:1px solid black;
}

#grid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.square {
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
}

.no-top-border {
    border-top: none!important;
}

.no-left-border {
    border-left: none!important;
}